<head>
  <link rel="stylesheet" href="/technical-styles/manage-keys.css" />
  <link rel="stylesheet" href="/technical-styles/oauth2-key-generation.css" />
  <script src="/technical-scripts/oauth2-key-generation.js" defer></script>
  <script src="/technical-scripts/api-key-generation.js" defer></script>
</head>
<main class="container-fluid py-3">
  {{> manage-keys }}
  {{> keys-view }}
  {{> keys-modify }}
  {{> keys-token }}
  {{> keys-instructions }}
  {{> alert }}
</main>



