<section>
    <div id="planModal" class="modal custom-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div id="modal-content">
                    <div class="modal-header">
                        <h5 class="dev-header h5" id="modalTitle">API Subscription</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                            onclick="closeModal()"></button>
                    </div>
                    <div id="applicationFormSection">
                        <div class="modal-body">
                            <div id="form-group">
                                <label class="dev-header h6" for="applicationSelect">Select an Application or
                                    <a href="#" class="create-application-link" onclick="showApplicationForm()">Create a
                                        new application</a>.
                                </label>
                                <select id="applicationSelect" class="form-select bg-white text-dark">
                                    <option value="">Choose an application</option>
                                    {{#each applications}}
                                    <option style="background-color: aliceblue;" value="{{id}}">{{name}}</option>
                                    {{/each}}
                                    {{#each subscribedApps}}
                                    <option value="{{id}}" disabled>{{this.name}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="custom-modal-btn-section">
                            <a type="button" class="common-btn-outlined" style="margin-right: 0.5rem;"
                                data-dismiss="modal" onclick="closeModal()">Cancel</a>
                            <a type="submit" class="common-btn-primary" id="subButton"
                                onclick="handleSubscribe(null,null,null)">Subscribe</a>
                        </div>
                    </div>
                    <div id="applicationFormCreation" class="app-selection">
                        <div class="modal-body">
                            <h5 class="dev-header h6">Create a New Application</h5>
                            <input type="text" id="appName" pattern="[a-zA-Z0-9]+" class="form-control input-content"
                                placeholder="Application name" required>
                        </div>
                        <div class="custom-modal-btn-section">
                            <a type="button" class="common-btn-outlined" style="margin-right: 0.5rem;"
                                data-dismiss="modal" onclick="closeModal()">Cancel</a>
                            <a type="submit" class="common-btn-primary" id="createSubButton"
                                onclick="handleCreateSubscribe()" {{#if devMode}}disabled{{/if}}>Create &
                                Subscribe</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>