<div class="container my-5">
  <div class="col-lg-12 dev-header" style="padding-top: 5%;">
    <h2>My APIs</h2>
  </div>
  <table class="table table-bordered table-hover">
    <thead class="table-primary">
      <tr>
        <th>API Name</th>
        <th>Application Name</th>
        <th>Subscription Plan</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each subscriptions}}
      <tr>
        <td>{{this.apiName}}</td>
        <td>{{this.applicationName}}</td>
        <td>{{this.throttlingTier}}</td>
        <td> <a href="#" onclick="unsubscribe('{{this.id}}')">Unsubscribe</a></td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>