.api-banner-section {
  display: flex;
  justify-content: center;
  margin: 0 1rem 0 0;
  align-items: center;
  flex-direction: column;
}

.api-banner-content {
  background-color: var(--secondary-bg-color);
  border-radius: 0.75rem;
  padding: 2.5rem 3.75rem;
  text-align: left;
  min-height: 10rem;
  display: flex;
}

.api-image {
  width: 13.75rem;
  height: 13.75rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0;
  margin-right: 2.5rem;
  float: right;
}

.api-image-small {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0;
  float: right;
}

.api-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.625rem;
}

.api-title h4 {
  font-size: 2.25rem;
  font-weight: 600;
  color: var(--primary-main-color);
  margin: 0;
}

.api-version {
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.api-badge-custom1 {
  border: 1px solid var(--secondary-main-color);
  background-color: transparent;
  color: var(--secondary-main-color);
  padding: 0.3rem 0.75rem;
  border-radius: 1.25rem;
  font-size: 0.875rem;
}

.api-description {
  margin-bottom: 1rem;
  color: var(--main-text-color);
}

.api-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5625rem;
}

.api-badge-custom2 {
  border: 1px solid var(--main-text-color);
  background-color: transparent;
  color: var(--main-text-color);
  opacity: 0.7;
  padding: 0.3rem 1rem;
  border-radius: 1.25rem;
  font-size: 0.875rem;
}

.api-details-btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 2rem;
}