.faq-banner-section {
  margin: 1rem 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.faq-banner-container {
  padding: 2.5rem;
  border-radius: 1.5rem;
  background: var(--primary-gradient);
}

.faq-banner-description {
  font-size: 1rem;
  color: var(--main-text-color);
  margin-bottom: 2rem;
}

.faq-banner-container .common-header h2{
  margin-bottom: 0.5rem;
}

.faq-banner-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 768px) {
  .faq-banner-buttons {
    flex-direction: column;
    gap: 1rem;
  }
}
