.hero-section {
  margin: 0 2rem 0 0;
}

.hero-content {
  border-radius: 1.5rem;
  padding: 4rem 3rem;
}

.hero-title {
  font-size: 2.75rem;
  font-weight: 600;
  color: var(--lightest-text-color);
  margin-bottom: 1.5rem;
  line-height: 1.2;
}

.hero-title .highlight {
  color: var(--primary-main-color);
  padding: 0;
}

.hero-description {
  font-size: 1rem;
  color: var(--lightest-text-color);
  margin-bottom: 2rem;
  max-width: 600px;
}

.hero-img-container {
  display: flex;
  justify-content: center;
}

.hero {
  background-image: url("https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/hero.png");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  max-width: 100%;
  height: auto;
  padding-top: 1rem;
}

@media (max-width: 992px) {
  .hero-title {
    font-size: 2rem;
  }

  .hero-description {
    font-size: 1rem;
  }

  .hero-content {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 2.5rem;
}

.hero-description {
  font-size: 1.125rem;
}

  .hero-buttons {
    flex-direction: column;
  }

  .hero-image {
    margin-top: 2rem;
  }
}
