@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap");
@import "/styles/hero.css";
@import "/styles/footer.css";
@import "/styles/header.css";
@import "/styles/feature.css";
@import "/styles/customers.css";
@import "/styles/benifits.css";
@import "/styles/testimonials.css";
@import "/styles/faqBanner.css";
@import "/styles/community.css";
@import "/styles/api-listing.css";
@import "/styles/pagination.css";
@import "/styles/api-detail-banner.css";
@import "/styles/tryout-banner.css";
@import "/styles/api-content.css";
@import "/styles/pricing.css";
@import "/styles/getStarted.css";
@import "/styles/helpBanner.css";
@import "/styles/advantages.css";
@import "/styles/doc.css";
@import "/styles/side-bar.css";
@import "/styles/subscription-modal.css";
@import "/styles/default-api.css";

:root {
  --main-bg-color: #ffffff;
  --secondary-bg-color: #D4E8F64D;
  --light-bg-color: #F7F8FB;
  /* primary colors */
  --primary-main-color: #1A4C6D;
  --primary-light-color: #407893;
  --primary-dark-color: #1c4662;
  --primary-darkest-color: #12364E;
  /* secondary colors */
  --secondary-main-color: #5dc7b1;
  --secondary-light-color: #eef3f2;
  --secondary-dark-color: #49a18e;
  --secondary-darkest-color: #357b6c;
  /* font colors */
  --white-text-color: #ffffff;
  --main-text-color: #40404b;
  --light-text-color: #6b7280;
  /* other special colors */
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --white-color: #ffffff;
  --Black-color: #000000;
  /* Gradient */
  --primary-gradient: linear-gradient(110.69deg, #1a4c6d33 17.45%, #40789333 90.82%);
  --dark-gradient: linear-gradient(to right, #50c9c3, #4a6fa1);

  --font-family-sans: "Poppins", sans-serif;
  --font-family-serif: "Sofia Sans", serif;
  --font-family-mono: "Roboto", monospace;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  padding-top: 3.75rem;
  overflow: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-sans);
}

.main-container {
  flex: 1;
}

.content-area {
  margin-left: 4rem;
  margin-top: 0.5rem;
}

.common-btn-primary {
  display: inline-block;
  background-color: var(--primary-dark-color);
  color: var(--white-text-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 1.875rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.common-btn-primary[disabled],
.common-btn-primary.disabled {
  background-color: var(--primary-dark-color);
  color: var(--white-text-color);
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
  box-shadow: none;
}

.common-btn-light {
  display: inline-block;
  background-color: var(--primary-light-color);
  color: var(--white-text-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 1.875rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.common-btn-primary:hover {
  background-color: var(--primary-main-color);
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
}

.common-btn-primary:active {
  background-color: var(--primary-darkest-color);
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
  color: var(--white-text-color);
}

.common-btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(92, 79, 163, 0.4);
}

.common-btn-white {
  display: inline-block;
  background-color: var(--white-color);
  color: var(--primary-dark-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.common-btn-white:hover {
  background-color: var(--primary-main-color);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
}

.common-btn-white:active {
  background-color: var(--primary-main-color);
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  transform: scale(0.98);
  color: var(--white-text-color);
}

.common-btn-white:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.4);
}

.common-btn-link {
  display: inline-block;
  background-color: transparent;
  color: var(--secondary-light-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 3.125rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.common-btn-link:hover {
  color: var(--primary-dark-color);
  background-color: var(--primary-light-color);
  color: var(--white-text-color);
}

.common-btn-link:active {
  color: var(--white-text-color);
  background-color: var(--primary-main-color);
}

.common-btn-link:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--primary-light-color);
}

.common-btn-outlined {
  display: inline-block;
  background-color: transparent;
  color: var(--primary-main-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: 0.0625rem solid var(--primary-main-color);
  border-radius: 3.125rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.common-btn-outlined:hover {
  background-color: var(--primary-main-color);
  color: var(--white-text-color);
  border-color: var(--primary-dark-color);
}

.common-btn-outlined:active {
  background-color: var(--primary-dark-color);
  color: var(--white-text-color);
}

.common-btn-outlined:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--primary-light-color);
}

.common-sub-header h5 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--primary-main-color);
  vertical-align: top;
}

.common-header h2 {
  font-size: 1.875rem;
  margin-bottom: 2.8125rem;
  font-weight: 600;
  color: var(--primary-main-color);
}

/* common-badge */
.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
}

/* common-card-style */
.dev-card {
  height: 100%;
  border-radius: 12px;
  padding: 20px;
}

/* common-md-file-style */
.api-md-content {
  padding: 40px 130px;
  background-color: var(--main-bg-color);
  line-height: 1.8;
}

/* --Title-- */
.api-md-content h1 {
  font-size: 30px;
  color: var(--main-text-color);
}

.api-md-content h3,
h2 {
  font-size: 24px;
  color: var(--main-text-color);
}

/* --SubTitle-- */
.api-md-content h4,
h5,
h6 {
  font-size: 20px;
  color: var(--main-text-color);
}

/* --Paragraph-- */
.api-md-content p {
  font-size: 15px;
  color: var(--main-text-color);
}

.api-md-content li {
  font-size: 15px;
  color: var(--main-text-color);
}

.api-md-content li::marker {
  color: var(--primary-color);
}