
.modal-xl {
  width: 50%;
}

.api-plans-section {
  margin: 3rem 3.75rem;
  text-align: center;
}

.api-plans-content {
  margin: 4rem auto 2.5rem auto;
}

.card-section {
  display: flex;
  justify-content: center;
}

.custom-plans-card {
  border: 0.2px solid var(--secondary-main-color);
  transition: all 0.3s ease-in-out;
  max-width: 380px;
}

.custom-plans-card:hover {
  transform: translateY(-5px);
}

.custom-plans-card h5 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-main-color);
}

.custom-plans-card h4 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-main-color);
}

.custom-plans-description {
  font-size: 1rem;
  color: var(--light-text-color);
}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 3rem;
}

.custom-modal .btn-close {
  background-color: transparent;
}

.custom-modal-btn-section {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}