.modal-xl {
  width: 50%;
}

.api-plans-section {
  margin: 3rem 3.75rem;
  text-align: center;
}

.api-plans-content {
  margin: 4rem auto 2.5rem auto;
}

.card-section {
  display: flex;
  justify-content: center;
}

.custom-plans-card {
  border: 0.2px solid var(--secondary-main-color);
  transition: all 0.3s ease-in-out;
  max-width: 380px;
}

.custom-plans-card:hover {
  transform: translateY(-5px);
}

.custom-plans-card h5 {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--primary-main-color);
}

.custom-plans-card h4 {
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary-main-color);
}

.custom-plans-description {
  font-size: 1rem;
  color: var(--dark-text-color);
  opacity: 0.7;
}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.5);
  padding-top: 3rem;
}

.custom-modal .btn-close {
  align-self: flex-end;
  background-color: transparent;
}

.custom-modal-btn-section {
  display: flex;
  padding: 0 1rem 1rem 1rem;
}

.subscription-plans-body {
  background-color: var(--light-bg-color);
  padding: 2rem;
}

.subscription-plans-rounded-bottom {
  margin-top: -1rem;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}

.subscription-plans-title {
  font-weight: 500;
}

.subscription-plans-subtitle {
  font-weight: 300;
}

.subscription-plans-card-title {
  color: var(--primary-main-color);
  font-size: 1.25rem;
  font-weight: 700;
}

.subscription-plans-request-count {
  color: var(--primary-main-color);
  font-weight: 600;
  padding-top: 1.5rem;
  font-size: clamp(1rem, 2vw, 2rem);
  margin-bottom: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.subscription-plans-card-subtitle {
  color: var(--dark-text-color) !important;
  opacity: 0.7;
  font-size: 0.85rem !important;
  font-weight: 500;
}

.subscription-plan-subscribe-btn {
  font-size: 0.75rem;
}

.subscription-modal-cancel-btn-wrapper {
  padding-left: 1rem;
  padding-bottom: 1rem;
  margin-top: 1.5rem;
}