.testimonial-container {
  padding: 3.75rem;
  border-radius: 1.5rem;
  margin: 0 auto;
  text-align: center;
}

.testimonial-card-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 1.25rem;
  padding: 0.625rem 0;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.testimonial-card-container::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  border: 0.00625rem solid var(--light-text-color);
  border-radius: 0 1rem 1rem 1rem;
  padding: 1.25rem;
  background-color: var(--light-bg-color);
  transition: transform 0.3s ease;
  text-align: left;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20rem;
}

.testimonial-card:hover {
  transform: translateY(-0.3125rem);
}

.testimonial-card-body {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: space-around;
}

.profile-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 0.9375rem;
}

.profile-avatar {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: 50%;
  object-fit: cover;
}

.profile-info h5 {
  margin: 0;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--dp-main-text-color);
}

.profile-info p {
  margin: 0;
  font-size: 0.75rem;
  color: var(--secondary-color);
}

.card-text {
  font-size: 0.75rem;
  color: var(--dp-main-text-color);
  line-height: 1.6;
  margin-top: 0.5rem;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.linkedin-icon {
  margin-top: auto;
}

.linkedin-icon img {
  width: 1.875rem;
  height: 1.875rem;
  opacity: 0.8;
}

@media (max-width: 1200px) {
  .testimonial-container {
    padding: 2.5rem;
  }
}

@media (max-width: 768px) {
  .testimonial-container {
    padding: 2rem;
  }
}

@media (max-width: 576px) {
  .testimonial-container {
    padding: 1.5rem;
  }
}
