<head>
    <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
    <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
</head>
<main>
    <elements-api apiDescriptionDocument='{{{apiMetadata}}}' router="hash" layout="sidebar" />
</main>