{{#if (eq apiType "REST")}}

<head>
    <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
    <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
</head>
<main>
    <elements-api apiDescriptionDocument='{{{swagger}}}' router="hash" layout="sidebar" />
</main>

{{else if (eq apiType "ASYNC")}}

<head>
    <link rel="stylesheet" href="https://unpkg.com/@asyncapi/react-component@latest/styles/default.min.css">
    <link rel="stylesheet" href="/styles/tryout.css">
</head>
<main >
    <div id="asyncapi"></div>
    <script src="https://unpkg.com/@asyncapi/react-component@latest/browser/standalone/index.js"></script>
    <script>
        AsyncApiStandalone.render({
            schema: {{{swagger}}},
            config: {
                show: {
                    sidebar: true,
                }
            },
        }, document.getElementById('asyncapi'));
    </script>
</main>
{{else if (eq apiType "GraphQL")}}
<head>
  <link rel="stylesheet" href="https://unpkg.com/graphiql@2.7.0/graphiql.min.css">
  
  <!-- Include React and ReactDOM -->
    <script src="https://unpkg.com/react/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom/umd/react-dom.development.js"></script>

    <!-- GraphiQL library -->
    <script src="https://unpkg.com/graphiql/umd/graphiql.js"></script>

</head>
<main>
  <div id="graphiql" style="height: 100vh;"></div>
    <!-- Your JavaScript code -->
    <script>
    const fetcher = GraphiQL.createFetcher({ url: 'https://my.backend/graphql' });

    ReactDOM.render(
      React.createElement(GraphiQL, { fetcher: fetcher }),
      document.getElementById('graphiql')
    );
  </script>
</main>
{{/if}}