<head>
  <link rel='stylesheet' href='/technical-styles/add-application.css' />
</head>

<body>
  <section>
    <div class='container my-5'>
      <div class='form-card p-5'>
        <h2 class='title mb-4'>Create an Application</h2>
        <p class='text-muted mb-4'>
          Create an application providing name and quota parameters. Description
          is optional. Required fields are marked with an asterisk (<span
            class='text-danger'
          >*</span>).
        </p>
        <form>
          <div class='mb-3'>
            <label for='applicationName' class='form-label'>Application Name
              <span class='text-danger'>*</span></label>
            <input
              type='text'
              id='applicationName'
              class='form-control'
              placeholder='My Application'
              required
            />
            <div class='form-text'>Enter a name to identify the application. You
              will be able to pick this application when subscribing to APIs.</div>
          </div>

          <div class='mb-3'>
            <label for='sharedQuota' class='form-label'>Shared Quota for
              Application Tokens
              <span class='text-danger'>*</span></label>
            <select id='sharedQuota' class='form-select'>
              <option selected>10PerMin</option>
              <option>20PerMin</option>
              <option>50PerMin</option>
            </select>
            <div class='form-text'>Assign API request quota per access token.
              Allocated quota will be shared among all the subscribed APIs of
              the application.</div>
          </div>

          <div class='mb-3'>
            <label for='applicationDescription' class='form-label'>Application
              Description</label>
            <textarea
              id='applicationDescription'
              class='form-control'
              rows='4'
              placeholder='Provide a brief description of the application'
              maxlength='512'
            ></textarea>
            <div class='form-text'>(512) characters remaining</div>
          </div>

          <div class='d-flex justify-content-end gap-3'>
            <button type='button' class='btn btn-secondary custom-cancel-btn'>
              Cancel
            </button>
            <button type='submit' class='btn btn-primary custom-save-btn'>
              Save
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</body>