<head>
  <script src='/technical-scripts/subscription.js' defer></script>
</head>
<main>
    {{> application-dashboard }}
    {{> alert }}
    {{> throttling-reset-modal}}
    {{> api-key-modal}}
</main>