.pricing-section {
  margin-bottom: 60px;
}
.pricing-section-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 60px 20px;
  position: relative;
  text-align: center;
}

.pricing-section-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: var(--primary-color);
  z-index: -1;
}

.pricing-hero-content {
  margin: 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pricing-hero-content h1,
.pricing-hero-content p,
.pricing-hero-content span {
  color: var(--font-colour-primary);
}

.pricing-hero-content h1 {
  font-size: 35px;
  font-weight: bold;
  line-height: 40px;
}

.pricing-hero-content p {
  font-size: 14px;
  line-height: 20px;
}

.pricing-hero-header {
  max-width: 800px;
}
.pricing-hero-content span {
  font-size: 50px;
  margin-bottom: 20px;
  color: var(--light-color);
}

.apilist-hero-subtitle {
  max-width: 600px;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 80px;
  padding: 0;
}

.pricing-card {
  background-color: var(--font-colour-primary);
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  text-align: center;
  position: relative;
  transition: transform 0.3s;
  flex-grow: 1;
  margin: 0 -5px;
}

.basic-plan,
.premium-plan {
  max-width: 400px;
  margin-top: 10px;
  max-height: 525px;
}

.popular-plan {
  max-width: 450px;
  min-height: 550px;
}

.popular-plan h2 {
  font-size: 30px;
  font-weight: 600;
  color: var(--dark-text-color);
}

.pricing-cards-package {
  padding: 40px 20px 0 20px;
}

.pricing-cards-package h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-weight: 600;
}

.pricing-cards-package .price {
  font-size: 3rem;
  color: var(--dark-text-color);
  margin-bottom: 20px;
  font-weight: 600;
}

.pricing-cards-package .price span {
  font-size: 1rem;
  color: var(--light-text-color);
}

.pricing-cards-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--main-bg-color);
  border-radius: 0 0 20px 20px;
  padding: 10px 20px 50px 20px;
  border-top: 0.2px solid rgba(159, 157, 157, 0.5);
  height: 100%;
}

.essential-plan .price {
  font-size: 4rem;
  color: var(--dark-text-color);
  margin-bottom: 20px;
  font-weight: 600;
}

.pricing-card ul {
  list-style: none;
  margin: 20px;
  padding: 0;
  text-align: left;
}

.pricing-card ul li {
  font-size: 1rem;
  margin-bottom: 10px;
  color: #374151;
  display: flex;
  align-items: center;
}

.pricing-card ul li .icon {
  color: var(--success-color);
  margin-right: 8px;
  font-weight: bold;
}

.pricing-btn-container {
  padding: 0 20px;
}

.pricing-btn {
  display: inline-block;
  padding: 14px 32px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: background-color 0.3s ease;
}

.basic-btn,
.premium-btn {
  background-color: var(--primary-light-color);
  border: 1px solid rgba(130, 110, 241, 0.5);
}

.basic-btn:hover {
  background-color: #d0cefe;
}

.premium-btn:hover {
  background-color: #d0cefe;
}
.essential-btn {
  color: var(--font-colour-primary);
  background-color: #f59e0b;
}

.essential-btn:hover {
  background-color: #fd9721;
}

.popular-plan {
  transform: scale(1.1);
  border: 3px solid #fd9721;
  z-index: 1;
  position: relative;
  border-radius: 0 0 20px 20px;
}

.popular-plan .tag {
  background-color: #fd9721;
  color: var(--font-colour-primary);
  padding: 6px 12px;
  font-weight: bold;
  width: 100%;
  text-align: center;
  position: absolute;
  top: -25px;
  left: 0;
  right: 0;
  margin: 0 auto;
  outline: 3px solid #fd9721;
  border-radius: 20px 20px 0 0;
}

/* Responsive Layout */
@media (max-width: 992px) {
  .pricing-cards {
    flex-direction: column;
    align-items: center;
  }

  .pricing-card {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .popular-plan {
    transform: none;
    border: none;
  }
}
