<section>
    <div class="common-header">
        <h2 style="text-align: center; font-family: var(--font-family-sans);">Empowering developers to build applications</h2>
    </div>
    <div class="ad-container ">
        <div class="card ad-card-image" style="border-radius: 24px;">
            <img src="/images/advantage1.svg" class="card-img-top"
                style="border-top-left-radius: 24px; border-top-right-radius: 24px;">
            <div class="card-body">
                <h5 style="font-family: var(--font-family-sans);">Explore & Subscribe to our APIs</h5>
                <ul style="font-family: var(--font-family-serif);">
                    <li>Sign up with us</li>
                    <li>Choose an API and Try-it-out</li>
                    <li>Create an application</li>
                    <li>Subscribe the application to the API to get going</li>
                </ul>
            </div>
        </div>
        <div class="card ad-card-image" style="border-radius: 24px;">
            <img src="/images/advantage2.svg" class="card-img-top"
                style="border-top-left-radius: 24px;  border-top-right-radius: 24px;">
            <div class="card-body">
                <h5 style="font-family: var(--font-family-sans);">Developing Applications</h5>
                <ul style="font-family: var(--font-family-serif);">
                    <li>Generate application keys</li>
                    <li>Utilise SDKs to generate application code</li>
                    <li>Connect to the Sandbox endpoint of APIs for testing</li>
                </ul>
            </div>
        </div>
        <div class="card ad-card-image" style="border-radius: 24px;">
            <img src="/images/advantage3.svg" class="card-img-top"
                style="border-top-left-radius: 24px;  border-top-right-radius: 24px;">
            <div class="card-body">
                <h5 style="font-family: var(--font-family-sans);">Ready to Launch</h5>
                <ul style="font-family: var(--font-family-serif);">
                    <li>Switch to the production endpoint of APIs</li>
                    <li>Perform tests</li>
                    <li>Launch!</li>
                </ul>
            </div>
        </div>
    </div>
</section>