<section class="benifits-section">
  <div class="col-lg-11 benefits-container">
    <div class="common-sub-header">
      <h5>What we offer</h5>
    </div>
    <div class="common-header">
      <h2>Benefits of Choosing our APIs</h2>
    </div>
    <div class="benefits-list">
      <div class="benefit-item">
        <img
          src="/images/tryOutVector.svg"
          alt="Watermark"
          class="benefit-image"
        />
        <div>
          <h3>Easy to "Try it Out"</h3>
          <p>Explore APIs and their functionalities with the Try it Out feature.</p>
        </div>
        <a href="#" class="benefit-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
      <div class="benefit-item">
        <img
          src="/images/apiSpaceVector.svg"
          alt="Watermark"
          class="benefit-image"
        />
        <div>
          <h3>Access to Open API Spec</h3>
          <p>Users are allowed access to content & other services that follow
            OpenAPI specification.</p>
        </div>
        <a href="#" class="benefit-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
      <div class="benefit-item">
        <img
          src="/images/docVector.svg"
          alt="Watermark"
          class="benefit-image"
        />
        <div>
          <h3>Proper Documentation</h3>
          <p>Offers comprehensive API documentation along with code snippets and
            additional resources.</p>
        </div>
        <a href="#" class="benefit-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>