<section class="faq-banner-section">
  <div class="container-fluid">
    <div class="faq-banner-container">
      <div class="common-header">
        <h2>Need help?</h2>
      </div>
      <p class="faq-banner-description">
        Check the documentation or contact us. We are happy to help.
      </p>
      <div class="faq-banner-buttons">
        <a href="https://discord.com/invite/wso2" class="common-btn-white">Contact Support</a>
        <a href="https://wso2.com/bijira/docs/" class="common-btn-outlined">Documentation</a>
      </div>
    </div>
  </div>
</section>