<section class="features-section">
  <div class="col-lg-11 features-container">
    <div class="common-header">
      <h2>Empowering businesses to innovate, by building Awesome Experiences</h2>
    </div>
    <div class="feature-content">
      <div class="feature-card">
        <div>
          <img
            src="/images/productLogo.svg"
            alt="Products Icon"
            class="feature-img"
          />
          <h5 class="feature-name">Products</h5>
          <p class="feature-description">
            Access our range of products based on common business concepts to
            enhance your offerings and customer experience.
          </p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="feature-card">
        <div>
          <img
            src="/images/apiLogo.svg"
            alt="API Icon"
            class="feature-img"
          />
          <h5 class="feature-name">APIs</h5>
          <p class="feature-description">
            Seamlessly connect your platform with our powerful APIs for smooth
            integrations and enhanced functionality.
          </p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="feature-card">
        <div>
          <img
            src="/images/analyticLogo.svg"
            alt="Analytics Icon"
            class="feature-img"
          />
          <h5 class="feature-name">Analytics</h5>
          <p class="feature-description">
            Gain insights with real-time analytics to optimize performance and
            boost customer engagement.
          </p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>

      <div class="feature-card">
        <div>
          <img
            src="/images/reportingLogo.svg"
            alt="Reporting Icon"
            class="feature-img"
          />
          <h5 class="feature-name">Reporting</h5>
          <p class="feature-description">
            Generate comprehensive reports to track your store’s performance and
            make data-driven decisions.
          </p>
        </div>
        <a href="#" class="feature-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
</section>