<section class="get-started-section">
  <div class="col-lg-11 get-started-container">
    <div class="common-sub-header">
      <h5>Get Started</h5>
    </div>
    <div class="common-header">
      <h2>Turning Code into Customer Solutionss</h2>
    </div>
    <div class="get-started-card-list">
      <div class="get-started-card">
        <span class="step-number">1</span>
        <h3>Explore & Subscribe to our APIs</h3>
        <ul>
          <li>Sign up with us</li>
          <li>Choose an API and Try-it-out</li>
          <li>Create an application</li>
          <li>Subscribe the application to the API to get going</li>
        </ul>
        <a href="#" class="get-started-link">How it Works →</a>
      </div>
      <div class="get-started-card">
        <span class="step-number">2</span>
        <h3>Developing Applications</h3>
        <ul>
          <li>Generate application keys</li>
          <li>Utilise SDKs to generate application code</li>
          <li>Connect to the Sandbox endpoint of APIs for testing</li>
        </ul>
        <a href="#" class="get-started-link">Documentation →</a>
      </div>
      <div class="get-started-card">
        <span class="step-number">3</span>
        <h3>Ready to Launch</h3>
        <ul>
          <li>Switch to the production endpoint of APIs</li>
          <li>Perform tests</li>
          <li>Launch!</li>
        </ul>
        <a href="#" class="get-started-link">Ask Community Forum →</a>
      </div>
    </div>
    <!-- Ready to Build Section -->
    <section class="ready-to-build-section">
      <div class="ready-to-build-container">
        <span class="ready-text">Ready to Build?</span>
        <a href="#" class="ready-signup-button">SIGN UP</a>
      </div>
    </section>

  </div>
</section>