<section class="help-banner-section">
  <!-- Use Cases Section -->
  <div class="col-lg-11 help-banner-container">
    <div class="help-banner use-cases">
      <div class="help-banner-content">
        <h3>Use Cases</h3>
        <p>Explore various use cases and examples to see how our APIs can meet your needs across different industries
          and scenarios.
          Integrate our Accommodation API to provide seamless booking experiences for hotels, vacation rentals, and
          travel agencies.
        </p>
        <a href="#" class="help-banner-link">Browse Use Cases →</a>
      </div>
      <div class="help-banner-image">
        <img src="/images/UseCaseImg.svg" alt="Use Cases Illustration" />
      </div>
    </div>
    <!-- Innovating Together Section -->
    <div class="help-banner innovating-together">
      <div class="help-banner-content">
        <h3>Innovating Together</h3>
        <p>
          We are here to help! Get in touch with us for any assistance regarding
          the use of our APIs. For feedback, for inspirations, or any sort of
          assistance, help is just a click away. Use our APIs to manage property listings, handle reservations, and
          streamline communication between property owners and tenants.
        </p>
        <a href="#" class="help-banner-link">Join Community Forum →</a>
      </div>
      <div class="help-banner-image-inno">
        <img src="/images/InnovatingImg.svg" alt="Innovating Together Illustration" />
      </div>
    </div>
  </div>
</section>