<section class="hero-section">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="hero-content hero">
        <div class="row align-items-center justify-content-between">
          <!-- Left Content -->
          <div class="col-lg-5 col-md-12 text-lg-start hero-text-container">
            <h1 class="hero-title">
              Empower your development with our
              <span class="highlight">APIs</span>
              to craft intuitive and robust applications.
            </h1>
            <p class="hero-description">
              Use our APIs to build amazing enterprise and consumer applications. Browse our API catalog, subscribe, and get going in minutes.
            </p>
            <div class="hero-buttons">
              <a href="{{baseUrl}}/apis" class="common-btn-light">Browse Our APIs</a>
              <a href="https://apim.docs.wso2.com/en/latest/" class="common-btn-white">Learn More →</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>