<!--
 * Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
 *
 * WSO2 LLC. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 -->
<section class="hero-section">
    <div class="container-fluid">
        <div class="hero-content hero">
            <div class="row align-items-center justify-content-between">
                <!-- Left Content -->
                <div class="col-lg-8 col-md-12 text-lg-start">
                    <h1 class="hero-title">
                        Empower your development with our APIs
                        to craft intuitive and robust applications
                    </h1>
                    <p class="hero-description">
                        Use our APIs to build amazing enterprise and consumer applications. Browse our API catalog,
                        subscribe, and get going in minutes
                    </p>
                    <div class="hero-buttons d-flex gap-3">
                        <a href="{{baseUrl}}/apis" class="common-btn-light">Browse Our APIs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section">
    <div class="container">
        <div class="common-header">
            <h2 style="text-align: center; font-family: var(--font-family-sans);">Empowering Developers to Build
                Applications</h2>
        </div>
        <div class="row justify-content-center g-5 pb-5">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card advantage-card">
                    <div class="advantage-card-image-container">
                        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/advantage1.png" class="advantage-card-image">
                    </div>
                    <div class="advantage-card-body">
                        <h5>Explore & Subscribe to our APIs</h5>
                        <ul class="fw-light">
                            <li>Sign up with us</li>
                            <li>Choose an API and Try-it-out</li>
                            <li>Create an application</li>
                            <li>Subscribe the application to the API to get going</li>
                        </ul>
                    </div>
                    <div class="advantage-card-footer">
                        <a href="#" class="common-btn-link px-2">How it works →</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card advantage-card">
                    <div class="advantage-card-image-container">
                        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/advantage2.png" class="advantage-card-image">
                    </div>
                    <div class="advantage-card-body">
                        <h5>Developing Applications</h5>
                        <ul class="fw-light">
                            <li>Generate application keys</li>
                            <li>Utilise SDKs to generate application code</li>
                            <li>Connect to the Sandbox endpoint of APIs for testing</li>
                        </ul>
                    </div>
                    <div class="advantage-card-footer">
                        <a href="#" class="common-btn-link px-2">How it works →</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4">
                <div class="card advantage-card">
                    <div class="advantage-card-image-container">
                        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/advantage3.png" class="advantage-card-image">
                    </div>
                    <div class="advantage-card-body">
                        <h5>Ready to Launch</h5>
                        <ul class="fw-light">
                            <li>Switch to the production endpoint of APIs</li>
                            <li>Perform tests</li>
                            <li>Launch!</li>
                        </ul>
                    </div>
                    <div class="advantage-card-footer">
                        <a href="#" class="common-btn-link px-2">How it works →</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
