<section>
    <div class="row justify-content-center">
        <div class="col-lg-11">
            <div class="hero-content hero">
                <div class="row align-items-center justify-content-between">
                    <!-- Left Content -->
                    <div class="col-lg-5 col-md-12 text-lg-start hero-text-container">
                        <h1 class="hero-title">
                            Empower your development with our
                            <span class="highlight">APIs</span>
                            to craft intuitive and robust applications.
                        </h1>
                        <p class="hero-description">
                            Use our APIs to build amazing enterprise and consumer applications. Browse our API catalog,
                            subscribe, and get going in minutes.
                        </p>
                        <div class="hero-buttons">
                            <a href="{{baseUrl}}/apis" class="common-btn-light">Browse Our APIs</a>
                            <a href="https://apim.docs.wso2.com/en/latest/" class="common-btn-white">Learn More →</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="common-header">
        <h2 style="text-align: center; font-family: var(--font-family-sans);">Empowering developers to build
            applications</h2>
    </div>
    <div class="ad-container ">
        <div class="card ad-card-image" style="border-radius: 24px;">
            <img src="/images/advantage1.svg" class="card-img-top"
                style="border-top-left-radius: 24px; border-top-right-radius: 24px;">
            <div class="card-body">
                <h5 style="font-family: var(--font-family-sans);">Explore & Subscribe to our APIs</h5>
                <ul style="font-family: var(--font-family-serif);">
                    <li>Sign up with us</li>
                    <li>Choose an API and Try-it-out</li>
                    <li>Create an application</li>
                    <li>Subscribe the application to the API to get going</li>
                </ul>
            </div>
        </div>
        <div class="card ad-card-image" style="border-radius: 24px;">
            <img src="/images/advantage2.svg" class="card-img-top"
                style="border-top-left-radius: 24px;  border-top-right-radius: 24px;">
            <div class="card-body">
                <h5 style="font-family: var(--font-family-sans);">Developing Applications</h5>
                <ul style="font-family: var(--font-family-serif);">
                    <li>Generate application keys</li>
                    <li>Utilise SDKs to generate application code</li>
                    <li>Connect to the Sandbox endpoint of APIs for testing</li>
                </ul>
            </div>
        </div>
        <div class="card ad-card-image" style="border-radius: 24px;">
            <img src="/images/advantage3.svg" class="card-img-top"
                style="border-top-left-radius: 24px;  border-top-right-radius: 24px;">
            <div class="card-body">
                <h5 style="font-family: var(--font-family-sans);">Ready to Launch</h5>
                <ul style="font-family: var(--font-family-serif);">
                    <li>Switch to the production endpoint of APIs</li>
                    <li>Perform tests</li>
                    <li>Launch!</li>
                </ul>
            </div>
        </div>
    </div>
</section>