<main>
    {{> hero }}
    {{> features }}
    {{> benefits }}
    {{> customers }}
    {{> getStarted }}
    {{> helpBanner }}
    {{> testimonials }}
    {{> faqBanner }}
    {{!-- {{> community}} --}}
</main>