<head>
    <link rel="stylesheet" href="/technical-styles/api-flows.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.css" integrity="sha512-uf06llspW44/LZpHzHT6qBOIVODjWtv4MxCricRxkzvopAlSWnTf6hpZTFxuuZcuNE9CBQhqE0Seu1CoRk84nQ==" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/codemirror.min.js" integrity="sha512-OeZ4Yrb/W7d2W4rAMOO0HQ9Ro/aWLtpW9BUSR2UOWnSV2hprXLkkYnnCGc9NeLUxxE4ZG7zN16UuT1Elqq8Opg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.16/mode/yaml/yaml.min.js" integrity="sha512-Prlj899DsOyGWU8noS4ZqQ8Z4jy+215JiZPxt/cT3ds3VqbwwsjSYZ64zCWQ/Z7AUZvymKGRllUSLPW5RKylNQ==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-yaml/4.1.0/js-yaml.min.js" integrity="sha512-CSBhVREyzHAjAFfBlIBakjoRUKp5h7VSweP0InR/pAJyptH7peuhCsqAI/snV+TwZmXZqoUklpXp6R6wMnYf5Q==" crossorigin="anonymous"></script>
    <script src='/technical-scripts/api-flows.js' defer></script>
</head>

{{> header profile=profile baseUrl=baseUrl showApiWorkflowsNav=showApiWorkflowsNav}}
{{> sidebar profile=profile baseUrl=baseUrl devportalMode=devportalMode showApiWorkflowsNav=showApiWorkflowsNav}}

<div class="container mt-4 mb-4">
    <div class="mb-3">
        <a href="{{baseUrl}}/" class="d-inline-flex align-items-center text-muted"
            style="text-decoration: none; font-size: 14px;">
            <i class="fas fa-arrow-left me-2"></i>Home
        </a>
    </div>
    <ul class="nav configure-tabs mb-4" id="viewConfigureTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="llms-tab-btn" data-bs-toggle="tab"
                data-bs-target="#llmsTabContent" type="button" role="tab"
                aria-selected="true" aria-controls="llmsTabContent">
                <img src="{{base}}/images/llm-instructions-icon.svg" width="18" height="18" class="me-2" style="vertical-align:-3px;flex-shrink:0;" alt="">LLM Instructions
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="workflows-tab-btn" data-bs-toggle="tab"
                data-bs-target="#workflowsTabContent" type="button" role="tab"
                aria-selected="false" aria-controls="workflowsTabContent">
                <i class="bi bi-diagram-3 me-2"></i>API Workflows
            </button>
        </li>
    </ul>
    <div class="tab-content" id="viewConfigureTabContent">
        <div class="tab-pane fade show active" id="llmsTabContent" role="tabpanel" aria-labelledby="llms-tab-btn">
            {{> llms-config}}
        </div>
        <div class="tab-pane fade" id="workflowsTabContent" role="tabpanel" aria-labelledby="workflows-tab-btn">
            {{> api-flows}}
        </div>
    </div>
</div>

{{> alert}}
