<head>
  <link rel="stylesheet" href="/technical-styles/techSide-common-banner.css" />
</head>
<section class="techSide-banner-section">
  <div class="col-lg-11 techSide-banner-hero">
    <div class="techSide-banner-container">
      <div class="techSide-banner-content">
        <div class="techSide-banner-header">
          <h1 style="margin-bottom: 0.5rem;">Create
            <span>organizations</span>
          </h1>
        </div>
        <div class="apilist-hero-subtitle">
          <p>Create, manage, or remove organizations here.</p>
        </div>
        <div class="col-lg-12 techSide-banner-search-container">
          <div class="techSide-banner-search-input">
            <input type="text" id="query" placeholder="Search Organizations" />
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 techSide-banner-image">
        <img
          src="/images/apisHeroImg.svg"
          alt="Hero Image"
          class="img-fluid"
        />
      </div>
    </div>
  </div>
</section>