<section class="api-overview-section">
  <div
    class="col-lg-11 container-fluid apiOver-features-container"
    name="KeyFeatures"
  >
    <div class="apibenefits-list">
      <div class="key-benefit-item">
        <img
          src="/images/transferImg.svg"
          alt="Watermark"
          class="key-benefit-image"
        />
        <div>
          <h3>Property Details</h3>
          <p>Access to detailed information about various accommodations,
            including types (hotels, apartments, etc.), amenities, room types,
            and more.</p>
        </div>
        <a href="#" class="key-benefit-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
      <div class="key-benefit-item">
        <img
          src="/images/newPaymentImg.svg"
          alt="Watermark"
          class="key-benefit-image"
        />
        <div>
          <h3>Real-Time Availability and Pricing</h3>
          <p>Real-time access to up-to-date pricing based on availability,
            seasonality, and special offers.</p>
        </div>
        <a href="#" class="key-benefit-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
      <div class="key-benefit-item">
        <img
          src="/images/psd2Img.svg"
          alt="Watermark"
          class="key-benefit-image"
        />
        <div>
          <h3>Booking Management</h3>
          <p>Seamless integration for booking accommodations, managing
            reservations, and cancellations.</p>
        </div>
        <a href="#" class="key-benefit-link">Learn more
          <i class="bi bi-arrow-right"></i></a>
      </div>
    </div>
  </div>
  <div class="col-lg-11 container-fluid api-overview" name="Overview">
    <div class="row api-overview-content">
      <div class="row text-start">
        <h1 class="overview-title">Overview</h1>
      </div>
      <div class="col-lg-8 api-content-text">
        <div>
          <p class="intro-text-des">The Accommodation API provides seamless
            integration with a vast network of accommodations, including hotels,
            vacation rentals, and other lodging options. Whether you're building
            a travel booking platform, a property management tool, or a
            hospitality app, our API allows you to access real-time data on
            availability, pricing, and property details. With a user-friendly
            interface and comprehensive documentation, integrating our API into
            your system is straightforward, enabling you to offer a world-class
            accommodation experience to your users.</p>
        </div>
        <div>
          <h5 class="section-title">Requirements</h5>
        </div>
        <div>
          <p class="intro-text">This API can facilitate the following
            requirements: - A hotel management system can make use of the API to
            manage the reservations</p>
        </div>
        <ul class="requirement-list">
          <li><span class="checkmark"><i
                class="bi bi-check-circle-fill"
              ></i></span>
            <li><span class="checkmark"><i
                  class="bi bi-check-circle-fill"
                ></i></span>
              A reservation system can make use of the API to check for
              available reservations and make a booking
            </li>
          </li>
          <li><span class="checkmark"><i
                class="bi bi-check-circle-fill"
              ></i></span>
            A hotel management system can make use of the API to manage the
            reservations</li>
          <li><span class="checkmark"><i
                class="bi bi-check-circle-fill"
              ></i></span>
            Real-time currency conversion to display pricing in the user's local
            currency.</li>
          <li><span class="checkmark"><i
                class="bi bi-check-circle-fill"
              ></i></span>
            Ability to select specific data fields and customize responses to
            match business needs.</li>
        </ul>
      </div>
      <div class="col-lg-4 api-sidebar">
        <div>
          <h5 class="section-title">Use this API to initiate:</h5>
        </div>
        <div>
          <ul class="api-list">
            <li>Sign up for a developer account on our portal to access your API
              key.</li>
            <li>Utilize the API to fetch real-time accommodation data, including
              availability, pricing, and property details, to enrich your user
              experience.</li>
            <li>Offer personalized accommodation options and instant booking
              capabilities, providing your users with a more engaging and
              efficient service.</li>
            <li>Analyze data and trends from the API to refine your product
              offerings and better meet market dem</li>
          </ul>
        </div>
        <div>
          <button type="button" class="common-btn-outlined">Read More</button>
        </div>
      </div>
    </div>
  </div>
  <div class="faq-section" name="FAQ">
    <div class="col-lg-11 container-fluid faq-container">
      <div class="faq-header">
        <div class="common-header">
          <h2>FAQ</h2>
        </div>
        <p>Can't find the answer you're looking for? Check out our
          <a href="#">documentation</a>
          or
          <a href="#">contact our team.</a>
        </p>
      </div>
      <hr />
      <div class="faq-item">
        <p class="faq-question">How do I get started with the API?</p>
        <div class="faq-tags">
          <span class="badge faq-badge-custom1">FAQ</span>
          <span class="badge faq-badge-custom1">Accommodation API</span>
        </div>
        <p class="faq-answer">Getting started is easy. First, you'll need to
          sign up for an API key. Once you have your key, you can access our API
          documentation, which includes detailed instructions, code examples,
          and best practices to help you integrate the API into your platform</p>
      </div>
      <hr />
      <div class="faq-item">
        <p class="faq-question">What types of properties are available through
          the API?</p>
        <div class="faq-tags">
          <span class="badge faq-badge-custom1">FAQ</span>
          <span class="badge faq-badge-custom1">Accommodation API</span>
        </div>
        <p class="faq-answer">The API provides access to a wide variety of
          accommodations, including hotels, resorts, apartments, hostels, bed &
          breakfasts, and vacation rentals. The diversity of properties ensures
          that you can meet the needs of different types of travelers.</p>
      </div>
      <hr />
      <div class="faq-item">
        <p class="faq-question">Is real-time availability and pricing data
          provided?</p>
        <div class="faq-tags">
          <span class="badge faq-badge-custom1">FAQ</span>
          <span class="badge faq-badge-custom1">Accommodation API</span>
        </div>
        <p class="faq-answer">Yes, the Accommodation API offers real-time access
          to availability and pricing data. This ensures that the information
          displayed to users is accurate and up-to-date, enabling reliable
          booking experiences.</p>
      </div>
    </div>
  </div>
</section>