<!--
 * Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
 *
 * WSO2 LLC. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 -->
<div class="sidebar" id="sidebar">
    <nav class="nav">
        <a href="{{baseUrl}}/" class="nav-link" id="home">
            <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/home-icon.svg" />
            <span class="nav-text">Home</span>
        </a>
        <a href="{{baseUrl}}/apis" class="nav-link" id="apis">
            <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/apis-icon.svg" />
            <span class="nav-text">APIs</span>
        </a>
        <div class="submenu api-submenu" id="api-submenu">
            <a href="#" class="nav-link submenu-link fw-light" id="api-overview">
                <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/MenuOverview.svg" class="submenu-icon" />
                <span class="nav-text">Overview</span>
            </a>
            <a href="#" class="nav-link submenu-link fw-light" id="api-docs">
                <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/documentation.svg" class="submenu-icon" />
                <span class="nav-text">Documentation</span>
            </a>
        </div>
        <a href="{{baseUrl}}/applications" class="nav-link" id="applications">
            <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/applications-icon.svg" />
            <span class="nav-text">Applications</span>
        </a>
    </nav>
    <button class="collapse-btn" id="collapseBtn">
        <i class="bi bi-chevron-right"></i>
        <span class="collapse-text">Expand</span>
    </button>
</div>
