<head>
  <link rel='stylesheet' href='/technical-styles/alert.css' />
  <script src='/technical-scripts/alert.js' defer></script>
</head>

<body>
  <section>
    <div
      class='modal fade'
      id='alertModal'
      tabindex='-1'
      aria-labelledby='alertModalLabel'
      aria-hidden='true'
    >
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header {{typeClass}}'>
            <h5 class='modal-title' id='alertModalLabel'>{{title}}</h5>
            <button
              type='button'
              class='btn-close'
              data-bs-dismiss='modal'
              aria-label='Close'
            ></button>
          </div>
          <div class='modal-body'>
            {{message}}
          </div>
          <div class='modal-footer'>
            <button
              type='button'
              class='btn btn-secondary'
              data-bs-dismiss='modal'
            >Close</button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
