<section class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
  <div>
    <img src="/images/Ooops.svg" alt="Oops" class="img-fluid mb-3" />
    <h4>User is not authenticated to perform this request</h4>
    {{!-- <p class="mt-3">Logging out in <span id="countdown">5</span> seconds...</p> --}}
  </div>
</section>

<!--
<script>
  let seconds = 5;
  const countdownEl = document.getElementById("countdown");

  const interval = setInterval(() => {
    seconds--;
    countdownEl.textContent = seconds;
    if (seconds === 0) {
      clearInterval(interval);
      window.location.href = "{{baseUrl}}/logout";
    }
  }, 1000);
</script>
-->
