<section class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    {{> header profile=profile baseUrl=baseUrl }}
    {{> sidebar profile=profile baseUrl=baseUrl }}
    <div>
        <img src="/images/Ooops.svg" alt="Oops" class="img-fluid mb-3" />
        <h4>{{errorMessage}}</h4>
    </div>
</section>
