<section class="d-flex flex-column justify-content-center align-items-center vh-100 text-center">
    <div>
        <img src="/images/Ooops.svg" alt="Oops" class="img-fluid mb-3" />
        <h4>Oops! Something went wrong</h4>
        <a type="button" class="common-btn-primary btn btn-primary mt-3" href="{{baseUrl}}">Return to Home</a>
    </div>
</section>
