<div class="card">
    <div class="card-header">
        <h3 class="card-title">IDP Configuration </h3>
        <p class="card-subtitle">Configure your Identity Provider settings</p>
    </div>
    <!-- Display Validation Errors -->
    {{#if errors}}
    <div class="alert alert-danger">
        <ul>
            {{#each errors}}
            <li>{{msg}}</li>
            {{/each}}
        </ul>
    </div>
    {{/if}}
    <!-- Display Success Message -->
    <div class="card-body">
        <form id="createIDP">
            <div class="mb-3">
                <label for="IDPName" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Enter IDP name">
            </div>
            <div class="mb-3">
                <label for="issuer" class="form-label">Issuer</label>
                <input type="text" class="form-control" id="issuer" name="issuer" placeholder="Enter issuer URL">
            </div>
            <div class="mb-3">
                <label for="authorizationURL" class="form-label">Authorization URL</label>
                <input type="text" class="form-control" id="authorizationURL" name="authorizationURL"
                    placeholder="Enter authorization URL">
            </div>
            <div class="mb-3">
                <label for="tokenURL" class="form-label">Token URL</label>
                <input type="text" class="form-control" id="tokenURL" name="tokenURL" placeholder="Enter token URL">
            </div>
            <div class="mb-3">
                <label for="userInfoURL" class="form-label">User Info URL</label>
                <input type="text" class="form-control" id="userInfoURL" name="userInfoURL"
                    placeholder="Enter user info URL">
            </div>
            <div class="mb-3">
                <label for="clientId" class="form-label">Client ID</label>
                <input type="text" class="form-control" id="clientId" name="clientId" placeholder="Enter client ID">
            </div>
            <div class="mb-3">
                <label for="callbackURL" class="form-label">Callback URL</label>
                <input type="text" class="form-control" id="callbackURL" name="callbackURL"
                    placeholder="Enter callback URL">
            </div>
            <div class="mb-3">
                <label for="signUpURL" class="form-label">Sign Up URL</label>
                <input type="text" class="form-control" id="signUpURL" name="signUpURL" placeholder="Enter sign up URL">
            </div>
            <div class="mb-3">
                <label for="logoutURL" class="form-label">Logout URL</label>
                <input type="text" class="form-control" id="logoutURL" name="logoutURL" placeholder="Enter logout URL">
            </div>
            <div class="mb-3">
                <label for="logoutRedirectURI" class="form-label">Logout Redirect URI</label>
                <input type="text" class="form-control" id="logoutRedirectURI" name="logoutRedirectURI"
                    placeholder="Enter logout redirect URI">
            </div>
            <div class="mb-3">
                <label for="logoutRedirectURI" class="form-label">JWKS URL</label>
                <input type="text" class="form-control" id="jwksURL" name="jwksURL" placeholder="Enter JWKS URL">
            </div>
            <div class="mb-3">
                <label for="certificate" class="form-label">Certificate</label>
                <textarea class="form-control" id="certificate" name="certificate" rows="4"
                    placeholder="Enter certificate"></textarea>
            </div>
            <input type="hidden" id="orgId" class="orgId" name="orgId" value={{orgID}}>
            <div class="text-end">
                <button type="submit" class="btn btn-primary">Save Changes</button>
            </div>
        </form>
    </div>
</div>