<head>
    <link rel="stylesheet" href="/technical-styles/settings.css">
    <link rel="stylesheet" href="/technical-styles/add-provider.css">
    <script src="/technical-scripts/upload-zip.js" defer></script>
</head>
<main>
    <div class="container mt-5">
        {{#if orgContent}}
        {{> upload-zip }}
        {{/if}}
        {{#if content}}
        {{> list-files }}
        {{> add-provider}}
        {{/if}}
        {{#if idp}}
        {{> list-idp}}
        {{/if}}
        {{#if createIDP}}
        {{> create-idp}}
        {{/if}}
    </div>
</main>