<head>
    <link rel="stylesheet" href="/portal/settings.css">
</head>
<main>
    <div class="container mt-5">
        {{#if content}}
        {{> upload-zip }}
        {{/if}}
        {{> list-files }}
        {{#if idp}}
        {{> list-idp}}
        {{/if}}
        {{#if create}}
        {{> create-idp}}
        {{/if}}
    </div>
</main>