<head>
    <link rel="stylesheet" href="/technical-styles/settings.css">
    <script src="/technical-scripts/upload-zip.js" defer></script>
</head>
<main>
    <div class="container mt-5">
        {{> upload-zip }}
        {{#if content}}
        {{> list-files }}
        {{/if}}
        {{#if idp}}
        {{> list-idp}}
        {{/if}}
        {{#if create}}
        {{> create-idp}}
        {{/if}}
    </div>
</main>