<head>
    <link rel="stylesheet" href="/technical-styles/settings.css">
    <link rel="stylesheet" href="/technical-styles/add-provider.css">
    <script src='/technical-scripts/configure-org.js' defer></script>
</head>
<main>
    <div class="container mt-5 mb-4">
        {{#if orgContent}}
        {{> upload-content }}
        {{/if}}
        {{#if content}}
        {{> list-files }}
        {{> add-provider}}
        {{/if}}
        {{#if idp}}
        {{> list-idp}}
        {{/if}}
        {{#if createIDP}}
        {{> create-idp}}
        {{/if}}
        {{> alert }}
    </div>
</main>