.sidebar {
    background-color: var(--main-bg-color);
    height: 100vh;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--border-color);
}

.sidebar .nav-link {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color: var(--light-text-color);
    font-size: 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: var(--border-color);
    color: var(--primary-color);
    border-radius: 5px;
}

.sidebar .nav-link i {
    font-size: 1rem;
    margin-right: 0.5rem;
}

.sidebar .menu-text {
    margin-top: 0.5rem;
    font-size: 1rem;
    margin-right: 1rem;
}

.sidebar .sub-menu {
    margin-left: 1rem;
    padding-left: 1rem;
    border-left: 2px solid var(--border-color);
}

.sidebar .sub-menu .nav-link {
    font-size: 0.95rem;
}

.content {
    padding: 2rem;
}

.sub-api-card {
    width: 350px;
}

.sub-api-card-item{
    margin: 20px 0px;
}

.policy-label {
    font-size: 0.9rem;
    margin: 10px;
}