.sidebar {
  background-color: var(--primary-light-color);
  height: 100vh;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  margin-top: 1rem;
}

.sidebar .nav-link {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  color: var(--light-text-color);
  font-size: 1rem;
  text-decoration: none;
  border-radius: 0.3125rem;
  transition: all 0.3s ease;
  font-family: var(--font-family-sans);
}

.sidebar .nav-link:hover {
  color: var(--primary-darkest-color);
}

.sidebar .nav-link:focus,
.sidebar .nav-link.active {
  background-color: var(--primary-main-color);
  color: var(--white-text-color);
  border-left: 0.1875rem solid var(--secondary-main-color);
}

.sidebar .nav-link i {
  font-size: 1rem;
  margin-right: 0.5rem;
}

.sidebar .menu-text {
  margin-top: 0.5rem;
  font-size: 1rem;
  margin-right: 1rem;
}

.sidebar .sub-menu {
  margin-left: 1rem;
  padding-left: 1rem;
  border-left: 0.125rem solid var(--primary-dark-color);
}

.sidebar .sub-menu .nav-link {
  font-size: 0.95rem;
  color: var(--light-text-color);
}

.sidebar .sub-menu .nav-link:hover {
  background-color: var(--primary-gradient);
  color: var(--primary-darkest-color);
}

.sidebar .sub-menu .nav-link:focus,
.sidebar .sub-menu .nav-link.active {
  background-color: var(--secondary-dark-color);
  color: var(--white-text-color);
  border-left: 0.1875rem solid var(--secondary-main-color);
}

.content {
  padding: 2rem;
  color: var(--main-text-color);
}

.sub-api-card {
  width: 21.875rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.sub-api-card-item {
  margin: 1.25rem 0;
}

.policy-label {
  font-size: 0.9rem;
  margin: 0.625rem;
  color: var(--main-text-color);
}

.custom-plans-card h2 a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-main-color);
  margin-bottom: 0.5rem;
}
