.content {
  padding: 2rem;
  color: var(--main-text-color);
}

.sub-api-card {
  width: 21.875rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.sub-api-card-item {
  margin: 1.25rem 0;
}

.policy-label {
  font-size: 0.9rem;
  margin: 0.625rem;
  color: var(--main-text-color);
}

.custom-plans-card h2 a {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-main-color);
  margin-bottom: 0.5rem;
}
