.delete-alert .modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: auto;
    animation: fadeIn 1s;
    z-index: 1055;
}

.delete-alert .modal-content {
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0;
}

.delete-alert .modal-body {
    font-size: 14px; 
    height: 100%;
    display: flex;
    align-items: center;
}
