@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import '/technical-styles/header.css';
:root {
  --main-bg-color: #f7f8fb;
  --light-bg-color: #ffffff;
  --main-text-color: #40404b;
  --light-text-color: #6b7280;
  --dark-text-color: #000000;
  --primary-color: #3e6ff2;
  --primary-light-color: #CCD1F2;
  --secondary-color: #0f2751;
  --light-color: #ffc371;
  --dark-color: #0f3971;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --font-colour-primary: #ffffff;
  --border-colour-primary: #1a73e8;
  --border-colour-secondary: #ffffff;
  --notselect-star-color: #bebec0;
  --border-color: #ddd;

  --font-family-sans: "Poppins", sans-serif;
  --font-family-serif: "Sofia Sans", serif;
  --font-family-mono: "Roboto", monospace;
}

html {
  overflow: hidden;
  height: 100%;
}

body {
  padding-top: 60px;
  overflow: auto;
  height: 100%;
}

/* primary button */
.common-btn-primary {
  text-decoration: none;
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: var(--secondary-color);
  color: var(--font-colour-primary);
}

.common-btn-primary:hover {
  background-color: transparent;
  border: 1px solid var(--main-bg-color);
  color: var(--font-colour-primary);
}

.common-btn-primary:active {
  background-color: #042249;
}

.common-btn-primary:focus {
  background-color: var(--dark-color);
  color: var(--font-colour-primary);
}

/* secondary button - light Color */
.common-btn-secondary {
  text-decoration: none;
  border: 1px solid var(--main-bg-color);
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  background-color: transparent;
  color: var(--font-colour-primary);
}

.common-btn-secondary:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.common-btn-secondary:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.common-btn-secondary:focus {
  background-color: var(--secondary-color);
  color: var(--font-colour-primary);
  border: none;
}

/* primary button - Dark Color */
.common-btn-dark {
  border: none;
  border-radius: 25px;
  padding: 12px 24px;
  font-size: 14px;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--font-colour-primary);
}

.common-btn-dark:hover {
  transform: scale(1.05);
  transition: background-color 0.3s, color 0.3s, transform 0.3s;
}

.common-btn-dark:focus {
  background-color: var(--dark-color);
  color: var(--font-colour-primary);
  box-shadow: inset 0 2px 2px rgba(35, 40, 61, 0.6);
}

/* common-sub-header */
.dev-sub-header h5 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: var(--primary-color);
  vertical-align: top;
}

/* common-header */
.dev-header h2 {
  font-size: 30px;
  margin-bottom: 45px;
  font-weight: 600;
  color: var(--main-text-color);
}

/* common-badge */
.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
}

/* common-card-style */
.dev-card{
  background-color: var(--light-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

/* common-md-file-style */
.api-md-content {
  padding: 40px 80px;
  background-color: var(--main-bg-color);
  line-height: 1.8;
}

/* --Title-- */
.api-md-content h1 {
  font-size: 30px;
  color: var(--main-text-color);
}

.api-md-content h3,h2 {
  font-size: 24px;
  color: var(--main-text-color);
}

/* --SubTitle-- */
.api-md-content h4,h5,h6 {
  font-size: 20px;
  color: var(--main-text-color);
}

/* --Paragraph-- */
.api-md-content p {
  font-size: 15px;
  color: var(--main-text-color);
}

.api-md-content li {
  font-size: 15px;
  color: var(--main-text-color);
}

.api-md-content li::marker {
  color: var(--primary-color);
}
