@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import "/technical-styles/header.css";
:root {
  --main-bg-color: #ffffff;
  /* primary colors */
  --primary-main-color: #5952ad;
  --primary-light-color: #f7f7ff;
  /* secondary colors */
  --secondary-main-color: #5dc7b1;
  --secondary-light-color: #eef3f2;
  --secondary-dark-color: #49a18e;
  --secondary-darkest-color: #357b6c;
  /* font colors */
  --white-text-color: #ffffff;
  --main-text-color: #40404b;
  /* other special colors */
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --white-color: #ffffff;
  --Black-color: #000000;
  /* Gradient */
  --primary-gradient: linear-gradient(90deg, #eeeeff 0%, #ebfbf7 100%);
  --dark-gradient: linear-gradient(to right, #50c9c3, #4a6fa1);

  --font-family-sans: "Poppins", sans-serif;
  --font-family-serif: "Sofia Sans", serif;
  --font-family-mono: "Roboto", monospace;
}
html,
body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  width: 100%;
}

.technical-footer {
  padding: 0 3.75rem;
}

.common-btn-primary {
  background-color: var(--primary-main-color);
  color: var(--white-text-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 1.875rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.1);
}

.common-btn-primary:hover {
  background-color: var(--primary-main-color);
  box-shadow: 0 0.375rem 0.625rem rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
}

.common-btn-primary:active {
  background-color: var(--primary-main-color);
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
  color: var(--white-text-color);
}

.common-btn-primary:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(92, 79, 163, 0.4);
}

.common-btn-white {
  background-color: var(--white-color);
  color: var(--primary-main-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 3.125rem;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0.125rem 0.125rem rgba(0, 0, 0, 0.1);
}

.common-btn-white:hover {
  background-color: var(--primary-main-color);
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
  color: var(--white-text-color);
}

.common-btn-white:active {
  background-color: var(--primary-main-color);
  box-shadow: 0 0.0625rem 0.125rem rgba(0, 0, 0, 0.1);
  transform: scale(0.98);
  color: var(--white-text-color);
}

.common-btn-white:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.4);
}

.common-btn-link {
  background-color: transparent;
  color: var(--primary-main-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: none;
  border-radius: 3.125rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
  box-shadow: none;
}

.common-btn-link:hover {
  color: var(--primary-main-color);
  background-color: var(--primary-main-color);
  color: var(--white-text-color);
}

.common-btn-link:active {
  color: var(--white-text-color);
  background-color: var(--primary-main-color);
}

.common-btn-link:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--primary-light-color);
}

.common-btn-outlined {
  background-color: transparent;
  color: var(--primary-main-color);
  font-size: 0.875rem;
  padding: 0.625rem 1.25rem;
  border: 0.0625rem solid var(--primary-main-color);
  border-radius: 3.125rem;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease-in-out;
}

.common-btn-outlined:hover {
  background-color: var(--primary-main-color);
  color: var(--white-text-color);
  border-color: var(--primary-main-color);
}

.common-btn-outlined:active {
  background-color: var(--primary-main-color);
  color: var(--white-text-color);
}

.common-btn-outlined:focus {
  outline: none;
  box-shadow: 0 0 0 0.25rem var(--primary-light-color);
}

.common-sub-header h5 {
  text-transform: uppercase;
  font-size: 0.9375rem;
  font-weight: 400;
  color: var(--primary-main-color);
  vertical-align: top;
}

.common-header h2 {
  font-size: 1.875rem;
  margin-bottom: 2.8125rem;
  font-weight: 600;
  color: var(--primary-main-color);
}

/* common-badge */
.badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 500;
}

/* common-card-style */
.dev-card {
  height: 100%;
  background-color: var(--light-bg-color);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
}

/* common-md-file-style */
.api-md-content {
  padding: 40px 80px;
  background-color: var(--main-bg-color);
  line-height: 1.8;
}

/* --Title-- */
.api-md-content h1 {
  font-size: 30px;
  color: var(--main-text-color);
}

.api-md-content h3,
h2 {
  font-size: 24px;
  color: var(--main-text-color);
}

/* --SubTitle-- */
.api-md-content h4,
h5,
h6 {
  font-size: 20px;
  color: var(--main-text-color);
}

/* --Paragraph-- */
.api-md-content p {
  font-size: 15px;
  color: var(--main-text-color);
}

.api-md-content li {
  font-size: 15px;
  color: var(--main-text-color);
}

.api-md-content li::marker {
  color: var(--primary-color);
}

.custom-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal-btn-section {
  padding: 0 1rem 1rem 1rem;
  display: flex;
}

/* header styles */
.container-header {
  display: block;
  color: var(--primary-main-color);
  font-size: 2rem;
  font-weight: 600;
}
