.form-card {
  display: flex;
  flex-direction: column;
  border: 0.0625rem solid var(--border-colour-secondary);
  border-radius: 0.75rem;
  background-color: var(--light-bg-color);
  padding: 1.25rem;
  height: 100%;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 1.5rem;
  margin: 0;
  color: var(--primary-color);
}

.button i {
  margin-right: 0.3rem;
}

.form-label {
  font-size: 0.875rem;
  color: var(--main-text-color);
  margin: 0.3rem 0;
}

.form-control,
.form-select {
  font-size: 0.875rem;
  color: var(--light-text-color);
}

.error-msg {
  font-size: 0.875rem;
}