.app-header {
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
}

.app-header p {
  flex-basis: 100%; 
  text-align: left;
  margin-top: 8px;
  display: grid;
  grid-template-columns: 250px auto; /* Fixed width for label, flexible for text */
  gap: 50px; /* Space between span and text */
}

.app-header span {
  margin-right: 100px;
}

.app-plan {
  display: flex; /* Make it a flex container */
  justify-content: space-between; /* Space out the text and button */
  align-items: center; /* Align items vertically */
  flex-basis: 100%;
}

.app-title {
  font-size: 24px;
  margin: 0;
  color: var(--primary-color);
}

.action-buttons {
  display: flex;
  gap: 10px;
}

.app-details {
  margin-top: 20px;
  padding-bottom: 10px
}

.details-section,
.status-section {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  color: var(--light-text-color);
  margin: 5px 0;
}

p2 {
    font-size: 10px;
}

.business-plan-actions {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.reset-btn,
.info-btn {
  padding: 5px 10px;
  font-size: 12px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--font-colour-primary);
  color: var(--light-text-color);
  display: flex; 
  align-items: center; 
  gap: 5px; 
}

.reset-btn:hover,
.info-btn:hover {
  background-color: var(--light-color);
}


@media (max-width: 600px) {
  .app-header {
    flex-direction: column;
    align-items: flex-start;
  }

  .action-buttons {
    margin-top: 10px;
  }
}
