.create-application-content {
  margin-top: 0.5rem;
}

.create-application-content p {
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.application-creation-body{
    padding: 0 1rem;
    margin-bottom: 1.5rem;
}