<head>
    <link rel="stylesheet" href="/technical-styles/settings.css">
     <script src='/technical-scripts/create-org.js' defer></script>
</head>
<section>
    {{> edit-organization-form }}
    {{> alert }}
</section>