<section>
<div class="container-fluid community-container">
  <div class="community-content">
    <div class="row align-items-center community-row">
      <div class="col-lg-8 col-md-10 community-text">
        <h3>Join Now</h3>
        <p>Engage with DEPT. users and the product team on use cases and best
          practices. Our support team is here to address any questions,
          concerns, or feedback.</p>
      </div>
      <div class="col-lg-4 col-md-2 text-end community-action">
        <button type="button" class="common-btn-dark">
          Community Forum</button>
      </div>
    </div>
  </div>
</div>
</section>