<footer class="footer-section">
  <div class="footer-container">
    <ul class="footer-links">
      <li><a href="#">Support</a></li>
      <li><a href="#">APIs</a></li>
      <li><a href="#">Why DEPT</a></li>
      <li><a href="#">Enterprise</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">Contact Us</a></li>
      <li><a href="#">How it Works</a></li>
      <li><a href="#">Setup</a></li>
      <li><a href="#">Products</a></li>
      <li><a href="#">Community Guide</a></li>
    </ul>
    <div class="footer-icons">
      <a href="#" class="social-icon"><i class="bi bi-linkedin"></i></a>
      <a href="#" class="social-icon"><i class="bi bi-twitter"></i></a>
      <a href="#" class="social-icon"><i class="bi bi-youtube"></i></a>
      <a href="#" class="social-icon"><i class="bi bi-discord"></i></a>
    </div>
  </div>
</footer>