<footer class="container-fluid footer">
  <div class="col-lg-12 footer-content" id="footermain">
    <div class="col-lg-12 footer-section">
      <img src="https://devportal-content.s3.amazonaws.com/ABCOrganization/Choreo+logo+black.svg" alt="Company Logo" class="footer-logo" />
    </div>
    <div class="col-lg-12 socialmedias-links">
      <div class="col-lg-3 social-icons">
        <p>Follow Us</p>
        <a href="#" class="social-icon"><i class="bi bi-twitter-x" style="font-size: 1.5rem;"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-linkedin" style="font-size: 1.5rem;"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-youtube" style="font-size: 1.5rem;"></i></a>
        <a href="#" class="social-icon"><i class="bi bi-github" style="font-size: 1.5rem;"></i></a>
      </div>
      <div class="col-lg-9 footer-section links">
        <div class="col-lg-1 links-group">
          <p>Quick Links</p>
          <a href="#">APIs</a>
          <a href="#">Support</a>
        </div>
        <div class="col-lg-1 links-group">
          <p>Company</p>
          <a href="#">Why DEPT</a>
          <a href="#">Enterprise</a>
          <a href="#">FAQ</a>
          <a href="#">Contact Us</a>
        </div>
        <div class="col-lg-1 links-group">
          <p>Developer</p>
          <a href="#">How it works</a>
          <a href="#">Setup</a>
          <a href="#">Products</a>
          <a href="#">Community Guide</a>
        </div>
        <div class="col-lg-5 newsletter">
          <p class="newsletter-title">Subscribe to our newsletter</p>
          <p class="newsletter-subtitle">Receive the latest news, articles, and
            resources directly in your inbox</p>
          <div class="row">
            <div class="col-lg-6">
              <input type="email" class="form-input" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Email Address" />
            </div>
            <div class="col-lg-5 newsletter-sub-btn">
              <button type="button" class="common-btn-dark ">
                Subscribe</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-12 footer-bottom">
    <p>Copyright © ACME, 2024</p>
    <div class="footer-terms">
      <a href="#">Terms of Service</a>
      |
      <a href="#">Privacy Policy</a>
      |
      <a href="#">Support</a>
    </div>
  </div>
</footer>