<section>
    <div class="container-fluid tryout-banner-content">
        <div>
            <h1>Start building in our Sandbox</h1>
        </div>
        <div>
            <p>Want to see what you can do with this API? <br>
                Add a new app and start experimenting in our sandbox.</p>
        </div>
        <div >
            <div class="tryout-banner-btn">
                <button type="button" class="common-btn-primary">Try it in Sanbox</button>
                <button type="button" class="common-btn-secondary">Need Support</button>
            </div>
        </div>
    </div>
</section>