<!--
 * Copyright (c) 2025, WSO2 LLC. (http://www.wso2.com) All Rights Reserved.
 *
 * WSO2 LLC. licenses this file to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file except
 * in compliance with the License.
 * You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied. See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 -->

<head>
  <script src='/technical-scripts/add-application-form.js' defer></script>
  <script src="/technical-scripts/oauth2-key-generation.js" defer></script>
</head>
<main>
    {{> header profile=profile baseUrl=baseUrl devportalMode=devportalMode }}
    {{> sidebar profile=profile baseUrl=baseUrl devportalMode=devportalMode }}
    {{> api-detail-banner }}
    {{#if loadDefault}}
    {{> api-default}}
    {{else}}
    {{> api-content }}
    {{/if}}
    {{> api-subscription-plans}}
    {{> create-app }}
    {{> alert }}
</main>
