<head>
  <script src='/technical-scripts/add-application-form.js' defer></script>
</head>
<main>
    {{> api-detail-banner }}
    {{#if loadDefault}}
    {{> api-default}}
    {{else}}
    {{> api-content }}
    {{/if}}
    {{> api-subscription-plans}}
    {{> create-app }}
    {{> alert }}
</main>