<main>
    {{> api-detail-banner }}
    {{#if loadDefault}}
    {{> api-default}}
    {{else}}
    {{> api-content }}
    {{/if}}
    {{> api-subscription-plans}}
    {{> alert }}
    {{> faqBanner }}
</main>