<section>
  <div class="logo-container">
    <div class="common-sub-header">
      <h5>TRUSTED BY +100 WORLD'S BEST COMPANIES</h5>
    </div>
    <div class="logo-row">
      <img class="logo" src="/images/sage.svg" alt="Sage" />
      <img class="logo" src="/images/oracle.svg" alt="Oracle" />
      <img class="logo" src="/images/wave.svg" alt="Wave" />
      <img class="logo" src="/images/zoho.svg" alt="Zoho" />
      <img class="logo" src="/images/wave.svg" alt="FreshBooks" />
      <img class="logo" src="/images/sage.svg" alt="QuickBooks" />
      <div class="explore-link">
        <a href="#">
          Explore More
          <i class="bi bi-arrow-right"></i>
        </a>
      </div>
    </div>
  </div>
</section>