<section class="hero-section">
  <div class="row justify-content-center">
    <div class="col-lg-11">
      <div class="hero-content">
        <div class="row align-items-center justify-content-between">
          <!-- Left Content -->
          <div class="col-lg-5 col-md-12 text-lg-start hero-text-container">
            <h1 class="hero-title">
              Leverage our
              <span class="highlight">APIs</span>
              to build beautiful Applications
            </h1>
            <p class="hero-description">
              Use our APIs to build amazing enterprise and consumer
              applications. Browse our API catalog, subscribe, and get going in
              minutes.
            </p>
            <div class="hero-buttons">
              <a href="{{baseUrl}}/apis" class="btn common-btn-primary me-3">Browse Our APIs</a>
              <a href="#" class="btn common-btn-link">Learn More →</a>
            </div>
          </div>

          <!-- Right Image -->
          <div class="col-lg-6 col-md-12 hero-img-container">
            <img
              src="/images/heroImg.svg"
              alt="Hero Image"
              class="img-fluid hero-image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>