<head>
    <link rel="stylesheet" href="/technical-styles/settings.css">
    <script src='/technical-scripts/create-org.js' defer></script>
</head>
<section>
    <div class="container mt-5">
        {{> org-hero-banner}}
        {{#if organizations}}
        {{> org-list }}
        {{else}}
        {{> create-org }}
        {{/if}}
        {{> alert }}
    </div>
</section>