{{!-- <head>
    <link rel="stylesheet" href="/technical-styles/settings.css">
</head>
<main>
    <div class="container mt-5">
         {{> create-org }}
         {{#if organizations}}
         {{> list-org }}
         {{> alert }}
         {{/if}}
    </div>
</main> --}}

<head>
    <link rel="stylesheet" href="/technical-styles/settings.css">
     <script src='/technical-scripts/create-org.js' defer></script>
</head>
<section>
    <div class="container mt-5">
        {{#if organizations}}
            {{> org-list }}
            <div class="text-end mt-3">
                <button class="btn btn-primary" onclick="showCreateOrg()">Create New Organization</button>
            </div>
            <div id="createOrgContainer" class="mt-4" style="display: none;">
                {{> create-org }}
            </div>
        {{else}}
            {{> create-org }}
        {{/if}}
    </div>
</section>

<script>
    function showCreateOrg() {
        const createOrgContainer = document.getElementById('createOrgContainer');
        if (createOrgContainer) {
            createOrgContainer.style.display = 'block'; 
            window.scrollTo({ top: createOrgContainer.offsetTop, behavior: 'smooth' });
        }
    }
</script>
