<head>
    <link rel="stylesheet" href="/internalStyles/settings.css">
    <script src="/scripts/createOrg.js" defer></script>
</head>
<main>
    <div class="container mt-5">
         {{> create-org }}
         {{#if organizations}}
         {{> list-org }}
         {{/if}}
    </div>
</main>