<section>
    <div id="createAppModal" class="modal custom-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content p-4">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal('createAppModal')"></button>
                <div class="api-banner-content mt-4 py-4 px-5">
                    <div class="d-flex align-items-center justify-content-between w-100">
                        <div class="col-12">
                            <div class="api-title pb-3">
                                <h4>Create Application</h4>
                            </div>
                            <form id='applicationForm'>
                                <!-- Application Name -->
                                <div class='mb-3'>
                                    <label for='applicationName' class='form-label'>Application Name
                                        <span class='text-danger'>*</span></label>
                                    <input type='text' id='applicationName' class='form-control'
                                        placeholder='My Application' required />
                                    <div id='nameError' class='error-msg text-danger mt-1' style='display: none;'>
                                        Application name cannot be empty.</div>
                                </div>

                                <!-- Application Description -->
                                <div class='mb-3'>
                                    <label for='applicationDescription' class='form-label'>Application
                                        Description</label>
                                    <textarea id='applicationDescription' class='form-control' rows='4'
                                        placeholder='Provide a brief description of the application'
                                        maxlength='512'></textarea>
                                    <div id='descriptionError' class='text-danger mt-1' style='display: none;'>
                                        Description exceeds the character limit.</div>
                                </div>

                                <!-- Buttons -->
                                <div class='d-flex gap-3'>
                                    <button type='button' class='common-btn-outlined' id="closeModal('createAppModal')"
                                        onclick="closeModal('createAppModal')">
                                        Cancel
                                    </button>
                                    <button type='submit' class='common-btn-primary' id='saveButton' disabled>
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>