<section>
    <div class="card mb-4">
        <div class="card-header">
            Upload Zip File
        </div>
        <div class="card-body">
            <form id="uploadOrgContent" enctype="multipart/form-data">
                <div class="upload-area" id="uploadArea">
                    <p>Drag & Drop your zip file here or click to select</p>
                    <input type="file" id="file" name="file" accept=".zip" class="hidden">
                    <input type="hidden" class="form-control" name="redirect" value="true">
                </div>
                <input type="hidden" id="orgId" name="orgId" value={{orgID}}>
                <div id="fileName" class="mt-2"></div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>
    </div>
    {{!-- <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log('Inside upload listenr');
            const uploadArea = document.getElementById('uploadArea');
            const zipFile = document.getElementById('file');
            const fileName = document.getElementById('fileName');

            uploadArea.addEventListener('click', () => zipFile.click());
            uploadArea.addEventListener('dragover', (e) => {
                e.preventDefault();
                uploadArea.style.borderColor = '#007bff';
            });
            uploadArea.addEventListener('dragleave', () => {
                uploadArea.style.borderColor = '#ccc';
            });
            uploadArea.addEventListener('drop', (e) => {
                e.preventDefault();
                uploadArea.style.borderColor = '#ccc';
                if (e.dataTransfer.files.length) {
                    zipFile.files = e.dataTransfer.files;
                    updateFileName();
                }
            });
            zipFile.addEventListener('change', updateFileName);

            function updateFileName() {
                fileName.textContent = zipFile.files[0] ? `Selected file: ${zipFile.files[0].name}` : '';
            }
        });

    </script> --}}
</section>