<head>
  <script src='/technical-scripts/add-application-form.js' defer></script>
</head>
<main>
    {{> api-listing }}
    {{!-- {{> pagination }} --}}
    {{> create-app }}
    {{> alert }}
    {{!-- {{> community }} --}}
</main>