<div class="container enterprise-login">
    <div class="enterprise-login-form-group">
        <input
            type="email"
            name="email"
            id="enterprise-email"
            class="enterprise-login-input"
            placeholder="Enter email"
            required
        />
    </div>

    <div class="enterprise-login-form-group">
        <button class="btn" id="login-enterprise">
            Continue
        </button>
    </div>

    <div class="enterprise-login-form-group">
        <a class="btn" id="back-to-signin">Back</a>
    </div>
</div>
