<div class="container">
    <h2>Sign in to continue</h2>
    <button class="btn" id="login-google">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/Google.svg" alt="Google" width="20">
        Continue with Google
    </button>
    <button class="btn" id="login-github">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/Github.svg" alt="GitHub" width="20">
        Continue with GitHub
    </button>
    <button class="btn" id="login-microsoft">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/Microsoft.svg" alt="Microsoft" width="20">
        Continue with Microsoft
    </button>
    <a class="btn" id="show-enterprise">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/Enterprise.svg" alt="Enterprise" width="20">
        Sign in with Enterprise ID
    </a>

    <div class="or-divider">OR</div>

    <button class="btn" id="login-email">
        <img src="https://raw.githubusercontent.com/wso2/docs-bijira/refs/heads/main/en/devportal-theming/Email.svg" alt="Email" width="20">
        Sign in with Email
    </button>

    {{!-- <div class="signup">
        Don’t have an account? <a>Sign Up</a>
    </div> --}}
</div>
