<div class="modal custom-modal" id='apiKeyModal'>
    <div class="modal-dialog modal-xl d-flex justify-content-center align-items-center" role="document">
        <div class="modal-content custom-modal-content">
            <div class="custom-modal-header">
                <h2 class="custom-modal-title m-0">API Key</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    onclick="closeModal('apiKeyModal')"></button>
            </div>
            <div class="custom-modal-body">
                <div class="container">
                    <div class="d-flex mb-4">
                        <div class="row">
                            <div>
                                <div class="info-box">
                                    <div class="info-content">
                                        <div class="info-title">Copy the API Key</div>
                                        <p class="info-text">
                                            Please copy this generated API Key as it will not be visible in the UI
                                            again.
                                        </p>
                                    </div>
                                    <div class="info-icon">
                                        <i class="bi bi-info-circle"></i>
                                    </div>
                                </div>

                                <div class="token-card">
                                    <pre id="token_apiKeyText" class="token-text"></pre>
                                    <button id="copyButton_apiKeyText" class="copy-button" aria-label="Copy token"
                                        type="button" onclick="copyToken('apiKeyText')">
                                        <i class="bi bi-copy"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>