<section>
    <div class="container">
        <div class="row">
          {{#subscriptions}}
          <div class="col-lg-4 col-md-6 mb-4" id="apiCard">
            <div class="card dev-card api-card d-flex flex-column">
              <div class="d-flex align-items-center gap-2">
                <img src="{{apiInfo.apiImageMetadata.api-icon}}" class="api-card-img" alt="..." />
                <div class="api-card-body flex-grow-1">
                  <h5 class="api-card-title mb-0">{{apiInfo.apiName}}</h5>
                  <p>V {{apiInfo.apiVersion}}</p>
                  <p>{{apiInfo.apiType}}</p>
                </div>
              </div>
            </div>
          </div>
        {{/subscriptions}}
      </div>
    </div>
</section>