<head>
  <link rel='stylesheet' href='/technical-styles/overview.css' />
</head>

<section>
  {{#applicationMetadata}}
  <div class="col-11 api-banner-content">
    <div class="d-flex justify-content-between">
      <div class="col-12 col-md-12">
        <div class="api-title pb-3">
          <div class="d-flex align-items-center justify-content-between w-100">
            <h4>{{name}}</h4>
            <div class='action-buttons'>
              <button class='btn btn-sm' title='Edit'
                onclick="window.location.href='{{../baseUrl}}/applications/{{applicationId}}/edit'">
                <i class='bi bi-pencil-square'></i>
              </button>
            </div>
          </div>
          <p class="api-description">{{description}}</p>
        </div>
      </div>
    </div>
  </div>
  {{/applicationMetadata}}
</section>