<head>
  <link rel='stylesheet' href='/technical-styles/throttling-reset-modal.css' />
  <script src='/technical-scripts/application-dashboard.js' defer></script>
</head>

<body>
  <section>

    <div
      class='modal fade throttling-reset-alert'
      id='throttlingPolicyResetModal'
      tabindex='-1'
      aria-hidden='true'
    >
      <div class='modal-dialog'>
        <div class='modal-content'>
          <div class='modal-header'>
            <h5 class='modal-title'>Reset Throttling Policy</h5>
          </div>

          <div class='modal-body'>
            <p class='modal-message'>Reset the Application Throttle Policy for a
              Specific User</p>
            <div class='mb-3'>
              <label for='userName' class='form-label'>User Name
                <span class='text-danger'>*</span></label>
              <input
                type='text'
                id='userName'
                class='form-control'
                placeholder='User Name'
                required
              />
              <div class='form-text'>Enter the user name you Specificaly need to
                reset the throttle policy for.</div>
              <div
                id='userNameError'
                class='error-msg text-danger mt-1'
                style='display: none;'
              >User Name cannot be empty.</div>
            </div>
          </div>

          <div class='modal-footer'>
            <button
              type='button'
              class='btn'
              data-bs-dismiss='modal'
              id='resetCancelButton'
            >
              Cancel
            </button>
            <button
              type='submit'
              class='btn'
              data-bs-dismiss='modal'
              disabled
              id='resetButton'
              onclick='resetThrottlingPolicy(`{{applicationMetadata.applicationId}}`)'
            >
              Reset
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>