<main>
    {{> applications-hero-banner}}
    {{> applications-listing }}
    {{> delete-confirmation modalTitle="Delete Application" modalMessage="This Application will be removed" modalFunction="deleteApplication()" }}
    {{> alert }}
    {{> faqBanner }}
</main>