<main>
    {{> applications-listing }}
    {{> delete-confirmation modalTitle="Delete Application" modalMessage="This Application will be removed" modalFunction="deleteApplication()" }}
    {{> community }}
    {{> alert }}
</main>