<main>
    {{!-- {{> applications-hero-banner}} --}}
    {{> applications-listing }}
    {{> create-app }}
    {{> alert }}
    {{> delete-confirmation modalTitle="Delete Application" modalMessage="This Application will be removed" modalFunction="deleteApplication()" }}
</main>