<head>
  <script src='/technical-scripts/subscription.js' defer></script>
  <link rel="stylesheet" href="/technical-styles/add-provider.css">
  <link rel="stylesheet" href="/technical-styles/subscription-list.css">
</head>
<main>
  {{> subscription-modal }}
  {{> techSide-common-banner}}
  {{> subscription-list }}
  {{> faqBanner }}
  {{> alert }}
</main>