<section>
  <div class="pricing-section">
    <div class="pricing-section-container">
      <div class="pricing-hero-content">
        <div class="pricing-hero-header">
          <h1><span>Power Your Business</span>
            <br />
            with Our API Solution</h1>
        </div>
        <div class="apilist-hero-subtitle">
          <p>Leverage our powerful APIs to streamline operations, enhance user
            experience, and scale with ease—all while gaining the flexibility
            you need to innovate faster.</p>
        </div>
      </div>
      <div class="pricing-cards">
        <div class="pricing-card basic-plan">
          <div class="pricing-cards-package">
            <h3>Basic</h3>
            <p class="price">$19 <span>/month</span></p>
          </div>
          <div class="pricing-cards-content">
            <ul class="pricing-features">
              <li><span class="icon">✔</span> Access core APIs</li>
              <li><span class="icon">✔</span> 5,000 API requests/month</li>
              <li><span class="icon">✔</span> Community support</li>
              <li><span class="icon">✔</span> Standard rate limits</li>
              <li><span class="icon">✔</span> Basic usage analytics</li>
            </ul>
            <div class="pricing-btn-container">
              <a href="#" class="pricing-btn basic-btn">Get started</a>
            </div>
          </div>
        </div>
        <div class="pricing-card essential-plan popular-plan">
          <span class="tag">Most popular ✨</span>
          <div class="pricing-cards-package">
            <h2>Essential</h2>
            <p class="price"> $59<span>/month</span></p>
          </div>
          <div class="pricing-cards-content">
            <ul class="pricing-features">
              <li><span class="icon">✔</span> Full API suite access</li>
              <li><span class="icon">✔</span> 50,000 API requests/month</li>
              <li><span class="icon">✔</span> Priority email support</li>
              <li><span class="icon">✔</span> API performance monitoring</li>
              <li><span class="icon">✔</span>
                Higher rate limits</li>
              <li><span class="icon">✔</span>
                Detailed usage analytics</li>
            </ul>
            <div class="pricing-btn-container">
              <a href="#" class="pricing-btn essential-btn">Get started</a>
            </div>
          </div>
        </div>
        <div class="pricing-card premium-plan">
          <div class="pricing-cards-package">
            <h3>Premium</h3>
            <p class="price">$119 <span>/month</span></p>
          </div>
          <div class="pricing-cards-content">
            <ul class="pricing-features">
              <li><span class="icon">✔</span> Unlimited API suite access</li>
              <li><span class="icon">✔</span> 100,000 API requests/month</li>
              <li><span class="icon">✔</span> 24/7 dedicated support</li>
              <li><span class="icon">✔</span> Custom rate limiting</li>
              <li><span class="icon">✔</span>
                Detailed reporting and analytics</li>
            </ul>
            <div class="pricing-btn-container">
              <a href="#" class="pricing-btn premium-btn">Get started</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>